{#
/**
 * @file
 * Template for the Telephone Plus formatter.
 *
 * @ingroup themeable
 */
#}
{% set title_attributes = create_attribute() %}
{% set number_attributes = create_attribute() %}

{%
  set title_classes = [
    'telephone-plus__item-title',
    vcard ? 'type',
  ]
%}
{%
  set number_classes = [
    'telephone-plus__item-number',
    vcard ? 'value',
  ]
%}
{% apply spaceless %}
  {% if title %}
    <span {{ title_attributes.addClass(title_classes) }}>{{ title }}:</span>&nbsp;
  {% endif %}

  {% if url %}
    <a href="{{ url }}" {{ number_attributes.addClass(number_classes) }}>{{ number }}</a>
  {% else %}
    <span {{ number_attributes.addClass(number_classes) }}>{{ number }}</span>
  {% endif %}

  {% if supplementary %}
    &nbsp;<span class="telephone-plus__item-supplementary">({{ supplementary }})</span>
  {% endif %}
{% endapply %}


